<html>
<title>
Mypage
</title>

<body>
  <p>
  <a href="/visitor" class="btn btn-primary card-link">Visitor!! </a>
</p>
<p>
  <a href="/login" class="btn btn-primary card-link"> LOGIN.. </a>
</p>
<p>
  <a href="/register" class="btn btn-primary card-link"> Register.. </a>
</p>


</body>


</htmL>
